<b style= "float:right"><%= link_to "New Store", new_medical_shop_path, :class=> "alert alert-info" %> </b><br><br><br>
<div class="alert alert-danger">
<table class="table">
 <tr>
  <th> Shop Name </th>
  <th> Address </th>
 </tr>
 <% @medical_shop.each do |m| %>
  <tr>
   <td><%= m.shop_name %></td>
   <td><%= m.shop_address %></td>
  </tr>
 <% end %>
 </table>
 </div>
