<table class="table table-condensed" style="margin-top:120px;">
 <tr>
  <th> Shop Name </th>
  <th> Address </th>
 </tr>
 <% @medical_shop.each do |m| %>
  <tr>
   <td><%= m.shop_name %></td>
   <td><%= m.shop_address %></td>
  </tr>
 <% end %>
 </table>

 <h5> <%= link_to "New Store", new_medical_shop_path, :class=> "label label-info" %> </h5>
