<table class="table table-condensed" style="margin-top:120px;">
 <tr>
   <th> Doctor Name </th>
   <th> Degree </th>
   <th> Address </th>
 </tr>
 <tr>
<% @doctors.each do |d| %>
  <td><%= d.name %></td>
  <td><%= d.degree %></td>
  <td><%= d.address %></td>
</tr>
<% end %>
</table>

<% if current_user.admin? %>
 <%= link_to "Add more doctors", new_doctor_path %>
<% end %>
