<h1>List of Appointment created</h1>
<% if current_user.admin?%>
<%= render :partial => "admin_appointments" , locals: {appointments: @appointments} %>
<% else%>
<%= render :partial => "tab_users_appointments" , locals: {appointments: @appointments} %>
<% end %>

<%= link_to "New Appointment" , new_appointment_path %>